{% extends 'picturest/base.html' %}
{% block title %}Picturest{% endblock %}
{% load static %}
{% if request.user.is_authenticated %}
    {% block header %}
            <header class="header">
                <div class="header_inner">
                    <div class="header_left">
                        <a href="{% url 'main' %}" class="header_home">
                            <img src="{% static 'picturest/img/header/logo.svg' %}" alt="home logo">
                        </a>
                        <a href="{% url 'main' %}" class="nav_link active">Home</a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'add_post' %}" class="nav_link">Create</a>
                    {% endif %}
                    </div>
                    <form action="{% url 'search' %}" method="POST" class="header_search">
                        {% csrf_token %}
                        <label for="search">
                            <svg class="header_search_icon">
                                <use xlink:href="#search-icon"></use>
                            </svg>
                            <input type="text" name="searched" id="search" placeholder="Search">
                        </label>
                    </form>
                    <div class="header_right">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'profile' %}" class="profile" title="Your Profile">
                                <img src="{{user.profile.image.url}}" alt="profile picture">
                                <a href="{% url 'log_out' %}" class="header_login" style="margin-left: 10px;font-size: 1.2rem;">Log out</a>
                            </a>
                        {% else %}
                            <a href="{% url 'log_in' %}" class="header_login">Log in</a>
                            <a href="{% url 'sign_up' %}" class="header_signup">Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </header>
    {% endblock %}

    {% block content %}
                <div class="main_inner">
                {% for post in posts %}
                    <div class="main_item">
                        <div>
                            <img src="{{ post.image.url }}" alt="image">
                            <a href="{{ post.image.url }}" download class="download_icon">
                                <svg>
                                    <use xlink:href="#download-icon"></use>
                                </svg>
                            </a>
                            <a href="{{post.get_absolute_url}}" class="main_bg"></a>
                        </div>
                    </div>
                {% endfor %}
                </div>
    {% endblock %}

{% else %}
    <a href="{% url 'log_in' %}">You are not logged in!</a>
{% endif %}